---
applications:
  - name: egov-config # CF push 시 생성되는 이름
#    memory: 512M # 메모리
    instances: 1 # 인스턴스 수
    host: egov-config # host 명으로 유일해야 함
    path: build/libs/config-0.1.jar # build 후 생성된 jar 위치
    buildpack: java_buildpack # cf buildpacks 명령어로 java buildpack 이름 확인
    env:
      spring_profiles_active: prod
      app_name: egov-config # logstash custom app name
      TZ: Asia/Seoul
